body {
    height: 100vh;
    margin: 0;
    display: flex;
    font-family: Roboto;
    flex-direction: column;
}


.header-container {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
  
    background-color: #1f2937;
 
    
}

.header-top{
    display: flex;
    justify-content: space-between;
}

.logo{
    align-items: left;
    justify-content: left;
    color: #f9faf8;
    font-weight: 900;
    font-size: 24px;    
}

ul{
    display: flex;
    gap: 32px;
    color: #e5e7eb;
    font-size: 18px;
    align-content: right;
    text-decoration: none;
    list-style-type: none;

}

.header-bottom{
    display: flex;
    flex-direction: row;
    flex:1 0 auto ;
    margin-top: 150px;
}

.pres{
    display: column;
    width: 500px;
}
.main-t{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

p{
    font-size: 18px;
    color: #e5e7eb;
}

button{
    margin-top: 20px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: 800;
    width: 100px;
    height: 40px;
    border-radius: 15px;
}

.main-pict{
    padding-left: 30px;
    width: 500px;
    
}


