* {
    padding: 0px;
    margin: 0px;
    font-family: Roboto;
}


.header-container {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    height: 300px;
    background-color: #1f2937;
 
    
}

.header-top{
    display: flex;
    height: 20px;
}

.logo{
    flex: 1 0 auto;
    align-items: left;
    justify-content: left;
    color: #f9faf8;
    font-weight: 800;
    font-size: 24px;
    
}

.sec-text{
    flex: 0 1 auto ;
    margin : 2px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: right;
    justify-content: right;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
}

.header-bottom{
    display: flex;
    flex-direction: row;
    padding-top: 70px;
}

.pres{
    display: column;
}
.main-t{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

p{
    font-size: 18px;
    color: #e5e7eb;
}

button{
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: 800;
    width: 100px;
    height: 40px;
    border-radius: 15px;
}

.main-pict{
    width: 240px;
}


