body {
    height: 100vh;
    margin: 0;
    display: flex;
    font-family: Roboto;
    flex-direction: column;
}


.header-container, 
.info-container,
.quote-container,
.call-act-container,
.footer {
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    padding-right: 230px;
    padding-bottom: 100px;
    padding-top: 16px;
}

.header-container{
    background-color: #1f2937;
  
}

.header-top{
    display: flex;
    justify-content: space-between;
}

.logo{
    align-items: left;
    justify-content: left;
    color: #f9faf8;
    font-weight: 900;
    font-size: 24px;    
}

ul{
    display: flex;
    gap: 32px;
    color: #e5e7eb;
    font-size: 18px;
    align-content: right;
    text-decoration: none;
    list-style-type: none;

}

.header-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex:1 0 auto ;
    margin-top: 150px;
}

.pres{
    display: column;
    width: 600px;
}
.main-t{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

p{
    font-size: 18px;
    color: #e5e7eb;
}

button{
    margin-top: 20px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: 800;
    width: 150px;
    height: 50px;
    border: #3882f6;
    border-radius: 15px;
}

.main-pict{
    padding-left: 30px;
    width: 600px;
    
}

.info-container{
    display: flex;
    padding-top: 40px;
    align-content: center;
    align-items: center;

}

.info-header{
    display: flex;
    align-content: center;
    align-items: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.info-content{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
    align-content: center;
}

.info{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 30px;
    align-content: center;
}

.inf-plc-hold{
    padding: 3px;
    border: 5px solid transparent;
    border-color: #3882f6;
    border-radius: 15px;
}

.subtext{
    margin-top: 20px;
    color: #1f2937;
    font-weight: 300;
    text-align: center;
}

.quote-container{
    flex-direction: column;
    background-color: #e5e7eb;
    padding-top: 70px;
    padding-bottom: 70px;
    
}

.quote{
    margin-left: 30px;
    padding-left: 80px;
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: left;
    width: 1090px;
}

.author-quote{
    margin-right: 30px;
    padding-right: 80px;
    color: #1f2937;
    font-size: 18px;
    font-weight: 800;
    text-align: right;
}

.call-act-container{
    flex-direction: row;
    justify-content: space-between;
    padding-left: 110px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
    margin-bottom: 100px;

    background-color: #3882f6;
}

.call{
    text-align: left;
    justify-items: space-between;
    padding-top: 50px;
}

.call-header{
    font-size: 24px;
    font-weight: 800;
    color: #e5e7eb;
}

.call .subtext{
    font-size: 20px;
    color: #e5e7eb;

}

.call-act-container button{
    margin-top: 60px;
    border: 5px solid transparent;
    border-color: #e5e7eb;
    padding: 3px;
    font-weight: 700;
}



.footer{
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #1f2937;
}

.footer-text{
    color: #e5e7eb;
    font-size: 14px;
    text-align: center;
}

